.full_match
	.table_result
		.table_head
			display: flex
			justify-content: center
			.left_team, .right_team
				display: flex
				.result
				.objects
					display: flex
					.object
						width: 20px
