@mixin transparentBorders
	border-top: 1px solid
	border-bottom: 1px solid
	border-image: linear-gradient(270deg, rgba(128, 128, 128, 0) 0%, rgba(128, 128, 128, 0.8) 50%, rgba(128, 128, 128, 0) 100%)
	border-image-slice: 1
$color-gray: #dadce0

.champion_page
	.container
		.champion_info
			display: flex
			.picture_block
				flex-shrink: 0
			.info_block
				width: 100%
				.champion_nav
					display: flex
					justify-content: space-around
					align-items: self-start
					padding: 5px 0
					li 
						cursor: pointer
						color: white
						span
							position: relative
							display: block
							padding: 10px
							margin: 0 30px
							outline: none
							border: none
							background: linear-gradient(180deg, rgba(18, 235, 255, 1) 0%, rgba(11, 28, 27, 1) 3%, rgba(11, 28, 27, 1) 97%, rgba(18, 235, 255, 1) 100%)
							&::before, &::after
								content: ''
								position: absolute
								top: 0
								width: 25px
								height: 100%
								border-top: 1px solid
								border-bottom: 1px solid
							&::before
								left: -25px
								border-image: linear-gradient(90deg, rgba(18, 235, 255, 0) 0%, #12ebff 180%)
								border-image-slice: 1
								background: linear-gradient(90deg, rgba(11, 28, 27, 0) 0%, rgba(11, 28, 27, 1) 100%)
							&::after
								right: -25px
								border-image: linear-gradient(270deg, rgba(18, 235, 255, 0) 0%, rgba(18, 235, 255, 1) 180%)
								border-image-slice: 1
								background: linear-gradient(270deg, rgba(11, 28, 27, 0) 0%, rgba(11, 28, 27, 1) 100%)
					li.active
						color: skyblue
				.general
					padding: 20px 40px
					.lore
						@include transparentBorders
						padding: 10px 0
						p
							color: $color-gray
							text-align: center
					.stats
						@include transparentBorders
						position: relative
						display: flex
						flex-wrap: wrap
						padding: 10px 0
						margin: 20px 0
						&::before
							content: ''
							position: absolute
							top: 0
							left: calc(50% - 0.5px)
							height: 100%
							border-left: 1px solid
							border-image: linear-gradient(0deg, rgba(128, 128, 128, 0) 0%, rgba(128, 128, 128, 0.8) 50%, rgba(128, 128, 128, 0) 100%)
							border-image-slice: 1
						.stat
							display: flex
							width: 50%
							&:nth-of-type(2n + 1)
								justify-content: flex-end
								padding-right: 10px
							&:nth-of-type(2n)
								padding-left: 10px
							&_name
								color: gray
							&_value
								width: 60px
								color: skyblue
								&:nth-of-type(2n)
									display: flex
									justify-content: flex-end
