@import './components/UI/ui'
	
/* -------------- Сброс стилей -------------- */
*, *::before, *::after
	box-sizing: border-box

ul, ol
	list-style: none
	padding: 0

body, h1, h2, h3, h4, p, ul, ol,
li, figure, figcaption, blockquote, dl, dd
	margin: 0

body
	min-height: 100vh
	scroll-behavior: smooth
	text-rendering: optimizeSpeed

a:not([class])
	text-decoration-skip-ink: auto

img
	max-width: 100%
	display: block

input, button, textarea, select
	font: inherit


/* -------------- Fonts -------------- */

@font-face
	font-family: 'Beaufort for LoL'
	src: url('./fonts/beaufortforlol-medium.otf')


/* -------------- Media -------------- */

@media screen and (max-width: 1520px)
	#video_back
		width: auto

@media screen and (max-width: 1199px)
	#video_back
		left: -200px
	.champion_page
		.skills 
			.descr 
				.video
					width: 80%
					margin: 0 auto
		.stats
			.posAndAvg
				.positions
					margin-bottom: 20px
	.items_page 
		.items 
			.item_extend 
				.item_extend_wrapper
					width: 30%
	.summoner_page
		.champs
			.champs_wrapper
				table tbody
					.champ
						td .wrapper, .progress_bar
							padding: 5px
							
@media screen and (max-width: 991px)
	#video_back
		left: -400px
	.summoner_page
		.promo
			margin-top: 50px
			.sum
				position: absolute
				top: -50px
				left: calc(50% - 200px)
				width: 400px
		.players_block .left_team, 
		.players_block .right_team
			width: 170px
		.champs 
			.champs_wrapper 
				overflow: scroll
				table tbody
					tr
						display: flex
						td
							display: flex
							justify-content: center
							align-items: center
							&:first-of-type
								justify-content: flex-start
								width: 200px
							&:nth-of-type(2),
							&:nth-of-type(3)
								width: 180px
							&:nth-of-type(4)
								width: 120px
							&:nth-of-type(5),
							&:nth-of-type(6),
							&:nth-of-type(7),
							&:nth-of-type(8),
							&:nth-of-type(9)
								width: 90px
	.match_page
		.player_items
			display: none
		.player 
			.player_name
				padding: 0 5px
			.player_stats
				width: 130px
				.other_score
					display: block
		.graphs
			.graph
				&:first-of-type
					margin-bottom: 20px
		.statistics_table
			overflow: scroll
			table tbody
				tr
					display: flex
					td
						display: flex
						justify-content: center
						align-items: center
						width: 45px
						margin: 1px 0
						&:first-of-type
							justify-content: flex-start
							width: 320px
				tr.champ_icons
					height: 50px
					td
						padding: 2px 0
	.live_page
		.team .player_card
			margin-bottom: 20px 

@media screen and (max-width: 767px)
	#video_back
		left: -500px
	.header
		height: 12vh
		padding: 10px 0
		.container-xxl
			flex-wrap: wrap
			justify-content: center
			height: 100%
			.nav
				font-size: 18px
			.forms
				align-items: center
				.search form,
				.choise_lang form
					input, select
						height: 40px
	.champion_page
		.general
			@include transGrayBorderBot
			position: relative
			padding-bottom: 1px
			.champion_info
				.lore
					font-size: 18px
					border: 0
				.roles, .stats
					position: absolute
					top: 340px
					left: 0
					width: 100%
				.stats
					top: 450px
	.items_page 
		.items 
			.item_extend 
				.item_extend_wrapper
					width: 40%
	.summoner_page
		.promo
			display: flex
			flex-direction: column
			margin-top: 80px
			.sum_banner
				left: 15%
				align-self: flex-start
			.champ_banner
				align-self: flex-end
				right: 15%
			.sum
				top: -75px
		.summoner_matches 
			.match_item 
				.inner_wrapper 
					.match_stats 
						.show_full_match 
							.stats_wrapper 
								.champion_stats
									display: none
					.player_items
						display: none

@media screen and (max-width: 575px)
	#video_back
		left: -600px
	.champion_page
		.general
			display: flex
			flex-direction: column
			align-items: center
			.champion_info
				.lore
					@include transGrayBorderBot
				.roles, .stats
					position: relative
					top: 0
					left: 0
				.stats
					top: 0
					font-size: 15px
		.stats 
			.main_stats
				.graph
					margin-bottom: 20px
			.posAndAvg 
				.positions tbody tr th:not(n1), .positions tbody tr td:not(n1)
					margin: 0 13px
		.sky_btn
			padding: 10px 0
	.summoner_page
		.promo
			.sum_banner
				left: 0
			.champ_banner
				right: 0
		.summoner_matches 
			.match_item 
				.inner_wrapper 
					.match_players
						display: none
	.match_page
		.player 
			.player_stats
				display: none
		.champion_statistic .tabs .left_team .tab img, 
		.champion_statistic .tabs .right_team .tab img,
		.champion_statistic .tabs .table
			width: 40px