/* -------------- Сброс стилей -------------- */
*, *::before, *::after {
	box-sizing: border-box;
}

ul, ol {
	list-style: none;
	padding: 0;
}

body, h1, h2, h3, h4, p, ul, ol,
li, figure, figcaption, blockquote, dl, dd {
	margin: 0;
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img {
	max-width: 100%;
	display: block;
}

input, button, textarea, select {
	font: inherit;
}


/* -------------- Main -------------- */

body {
	position: relative;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 65vw;
	margin: 0 auto;
}

video {
	position: fixed;
	top: 6vh;
	width: 100vw;
	z-index: -100;
}


/* -------------- Header -------------- */

header {
	position: relative;
	display: flex;
	align-items: center;
	height: 6vh;
	padding: 0 20px;
	border-bottom: 1px solid #dadce0;
}
header .container {
	display: flex;
	justify-content: space-between;
}
header .logo {
	position: absolute;
	left: 20px;
	width: 15vw;
}
header .nav {
	display: flex;
	align-items: center;
}
header .nav ul {
	display: flex;
	justify-content: space-around;
}
header .nav ul li {
	margin: 0 15px;
}
header .search form {
	display: flex;
	align-items: center;
}
header .search form input,
header .search form select {
	width: 10vw;
	height: 3.5vh;
	font-size: 16px;
    cursor: pointer;
	outline: none;
	padding: 0 10px;
	border: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0);
	transition: 1s all ease;
}
header .search form select {
	width: auto;
}
header .search form input:hover,
header .search form select:hover {
	background: rgba(218, 220, 224, 0.5);
}
header .search form input:focus,
header .search form select:focus {
	cursor: auto;
    border-bottom: 2px solid #1a73e8;
	background: rgba(218, 220, 224, 0.5);
}
header .search form button {
	width: 25px;
	cursor: pointer;
	outline: none;
	padding: 0;
	margin-left: 15px;
	border: none;
	background: none;
}


/* -------------- Profile -------------- */

.profile {
	height: 100vh;
	background-color: rgb(32, 32, 32);
	background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
	background-size: 100% 100%, 3px 3px, 3px 3px, 3px 3px;
	background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
	opacity: 0.9;
	color: white;
}
.profile .promo {
	display: flex;
	align-items: center;
	height: 25vh;
	background: url(https://ero-top.info/uploads/posts/2017-01/1483419114__bhuhvgk1fy.jpg);
	background-position: center;
}
.profile .promo .banner {
	display: flex;
	align-items: flex-end;
	padding: 0 20px;
}
.profile .promo .banner .icon img {
	width: 100px;
	border-radius: 10px;
	border: 2px solid black;
}
.profile .promo .banner .name_and_lvl {
	color: white;
	padding: 0 10px;
}
.profile .promo .banner .name_and_lvl .name {
	font-size: 40px;
}
.profile .promo .banner .name_and_lvl .name .region {
	font-size: 20px;
}

.profile .profile_nav {
	height: 4vh;
}
.profile .profile_nav ul {
	display: flex;
	justify-content: center;
	height: 100%;
}
.profile .profile_nav ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5vw;
	height: 100%;
	font-size: 15px;
	color: rgb(205, 216, 228);
	text-shadow: 0 -1px rgb(46, 53, 58);
	margin: 1px;
	border: 1px solid rgba(33, 43, 52, 1);
	border-radius: 3px;
	background: rgb(255,17,84) linear-gradient(rgb(255,17,84), rgb(0, 0, 0));
	box-shadow: inset 0 1px rgb(33 43 52), inset 0 0 1px rgb(140 150 170 / 80%);
}
.profile .profile_nav ul li:active {
	box-shadow: inset 0 1px 3px rgba(0, 10, 20, 0.5), 0 1px rgb(83, 94, 104), 0 0 1px rgb(86, 96, 106);
}
.profile .profile_nav ul li:focus:not(:active) {
	border: 1px solid rgb(22, 32, 43);
	border-bottom: 1px solid rgb(25, 34, 45);
	background: rgb(53, 61, 71);
	box-shadow: inset 0 1px 3px rgba(0, 10, 20, 0.5), 0 1px rgb(83, 94, 104), 0 0 1px rgb(86, 96, 106);
	pointer-events: none;
}
.profile .profile_nav ul li a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: white;
	text-decoration: none;
}


.profile .rating {
	margin-top: 50px;
}