@import '../../../../components/UI/ui'

.champion_page	
	.general
		display: flex
		margin: 10px 0 0
		.picture_block
			flex-shrink: 0
		.champion_info
			padding: 0 20px 20px
			.title
				display: flex
				flex-direction: column
				align-items: center
				height: 8vh
				.champ_name
					font-size: 35px
					color: $color-orange
				.champ_title
					color: $color-dark_gray
					font-size: 14px
			.lore
				@include transGrayBordersTopAndBot
				padding: 10px 0
				p
					color: $color-light_gray
					text-align: center
			.stats
				@include transGrayBordersTopAndBot
				position: relative
				display: flex
				flex-wrap: wrap
				padding: 10px 0
				margin: 10px 0
				&::before
					@include transGrayBorderLeft
					content: ''
					position: absolute
					top: 0
					left: calc(50% - 0.5px)
					height: 100%
				.stat
					display: flex
					width: 50%
					.name
						color: $color-dark_gray
					.value
						display: flex
						width: 60px
						color: $color-skyblue
				.stat.left
					justify-content: flex-end
					padding-right: 10px
					.value
						justify-content: flex-end
				.stat.right
					padding-left: 10px
					.name
						order: 1
			.roles
				display: flex
				justify-content: center
				.role
					width: 70px
					margin: 20px