/* -------------- Сброс стилей -------------- */
*, *::before, *::after {
	box-sizing: border-box;
}

ul, ol {
	list-style: none;
	padding: 0;
}

body, h1, h2, h3, h4, p, ul, ol,
li, figure, figcaption, blockquote, dl, dd {
	margin: 0;
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img {
	max-width: 100%;
	display: block;
}

input, button, textarea, select {
	font: inherit;
}


/* -------------- Main -------------- */

body {
	position: relative;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 65vw;
	margin: 0 auto;
}

video {
	position: fixed;
	top: 6vh;
	width: 100vw;
	z-index: -100;
}
