@import '../../../../components/UI/ui'

.statistics
	padding: 50px 0
	.match_type, .stats_type
		display: flex
		justify-content: space-evenly
		.type
			@include opacityBg
			flex: 0 0 auto
			width: 20%
			.type_title
				@include transGrayBorderBot_10per
				text-align: center
				padding-bottom: 10px
			.total
				text-align: center
				color: $color-dark_gray
			.circle_canvas
				position: relative
				display: flex
				justify-content: center
				.stats
					position: absolute
					top: calc(50% - 75px)
					left: calc(50% - 75px)
					display: flex
					flex-direction: column
					align-items: center
					justify-content: space-evenly
					width: 150px
					height: 150px
					line-height: 1
					.primary
						font-size: 25px
						color: $color-green
					.percent
						@include transGrayBordersTopAndBot
						font-size: 35px
						padding: 5px 0 7px
					.secondary
						font-size: 25px
						color: $color-red
				#front
					position: absolute
			.no_data
				text-align: center
				color: $color-dark_gray
				margin-top: 75px
	.stats_type
		margin-top: 30px
		.type
			.type_title
				margin-bottom: 10px
			.stat
				display: flex
				flex-direction: column
				align-items: center
				padding-bottom: 5px
				.title
					color: $color-dark_gray
