{{> head }}

<body>
	{{> header }}

	<div class="container">
		{{{ body }}}
	</div>

	<video preload="auto" autoplay="true" loop="true" muted="muted">
		<source src="/assets/img/diana.webm" type='video/webm; codecs="vp8, vorbis"'>
	</video>

	{{> footer}}
</body>

</html>