header {
	position: relative;
	display: flex;
	align-items: center;
	height: 6vh;
	padding: 0 20px;
	border-bottom: 1px solid #dadce0;
}
header .container {
	display: flex;
	justify-content: space-between;
}
header .logo {
	position: absolute;
	left: 20px;
	width: 15vw;
}
header .nav {
	display: flex;
	align-items: center;
}
header .nav ul {
	display: flex;
	justify-content: space-around;
}
header .nav ul li {
	margin: 0 15px;
}
header .search form {
	display: flex;
	align-items: center;
}
header .search form input,
header .search form select {
	width: 10vw;
	height: 3.5vh;
	font-size: 16px;
    cursor: pointer;
	outline: none;
	padding: 0 10px;
	border: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0);
	transition: 1s all ease;
}
header .search form select {
	width: auto;
}
header .search form input:hover,
header .search form select:hover {
	background: rgba(218, 220, 224, 0.5);
}
header .search form input:focus,
header .search form select:focus {
	cursor: auto;
    border-bottom: 2px solid #1a73e8;
	background: rgba(218, 220, 224, 0.5);
}
header .search form button {
	width: 25px;
	cursor: pointer;
	outline: none;
	padding: 0;
	margin-left: 15px;
	border: none;
	background: none;
}