@import '../../UI/ui'
	
.header
	display: flex
	align-items: center
	height: 6vh
	background: white
	.container
		display: flex
		justify-content: space-between
		.nav
			display: flex
			align-items: center
			ul
				display: flex
				justify-content: space-around
				width: 100%
				li
					text-align: center
					padding: 0 20px
					a
						display: block
						color: black
						text-decoration: none
		.forms
			display: flex
			.choise_lang
				display: flex
				align-items: center
				margin: 0 40px
			.search form,
			.choise_lang form
				display: flex
				align-items: center
				input, select
					cursor: pointer
					outline: none
					border: none
					border-bottom: 2px solid rgba(0, 0, 0, 0)
					transition: 1s all ease
					&:hover
						background: rgba(218, 220, 224, 0.5)
					&:focus
						cursor: auto
						border-bottom: 2px solid #1a73e8
						background: rgba(218, 220, 224, 0.5)
				button
					width: 25px
					cursor: pointer
					outline: none
					padding: 0
					margin-left: 10px
					border: none
					background: none
		
		
