@import '../../../../components/UI/ui'
	
.promo
	position: relative
	display: flex
	justify-content: space-between
	align-items: center
	padding: 0 20px 40px
	.sum_banner, .champ_banner
		position: relative
		display: flex
		flex-direction: column
		align-items: center
		z-index: 1
		.icon 
			border: 5px solid $color-orange
			border-radius: 50%
			.cover
				position: absolute
				width: 150px
				height: 150px
				text-align: center
				padding: 20px
				border-radius: 50%
				background: rgba(111, 111, 111, 0.9)
			img
				width: 150px
				border-radius: 50%
				border: 2px solid black
		.lvl, .role
			position: absolute
			bottom: -20px
			display: flex
			justify-content: center
			align-items: center
			width: 50px
			height: 50px
			color: white
			line-height: 1px
			border-radius: 50%
			border: 3px solid $color-orange
			background: black
		.role
			padding: 5px
		.side_block
			@include opacityBg
			@include transGrayBordersTopAndBot
			position: absolute
			top: calc(50% - 75px)
			right: calc(50% - 300px)
			display: flex
			justify-content: space-around
			width: 300px
			height: 150px
			padding: 10px 10px 10px 80px
			z-index: -1
			.name
				width: 100%
				font-size: 20px
				text-align: center
				color: $color-orange
			.sum_rating
				display: flex
				flex-direction: column
				align-items: center
				.type
					padding-bottom: 10px
				.rank_block
					@include flexColumn
					.rank_icon
						width: 50px
						height: 60px
					.rank_lp
						color: $color-dark_gray
						font-size: 13px
	.champ_banner
		.side_block
			right: 50%
			padding: 10px 50px 10px 10px
		.winrate, .matches
			position: absolute
			top: calc(50% + 20px)
			left: 25px
			height: 30px
			progress
				appearance: none
				height: 30px
				width: 215px
				transform: rotate(180deg)
				&::-webkit-progress-bar
					height: 30px
					border-top-right-radius: 15px
					border-bottom-right-radius: 15px
					background: rgba(111, 111, 111, 0.4)
				&::-webkit-progress-value
					border-top-right-radius: 15px
					border-bottom-right-radius: 15px
					background: deepskyblue
			.value
				position: absolute
				top: 4px
				right: 25px
				color: black
		.matches
			top: calc(50% - 25px)
			progress
				width: 200px
				&::-webkit-progress-bar
					background: rgba(111, 111, 111, 0.3)
				&::-webkit-progress-value
					// background: $color-green
			.counts
				position: absolute
				top: 5px
				display: flex
				justify-content: space-evenly
				width: 100%
				.total
					color: $color-orange
				.wins
					color: $color-green
				.total, .wins
					.num
						color: $color-light_gray
	.sum
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		.name
			font-size: 40px
		.region
			color: $color-dark_gray
		.live
			padding: 20px 0 0