.main_page
	.container
		.roles
			display: flex
			justify-content: space-evenly
			.role
				cursor: pointer
				img
					width: 50px
			.inactive
				opacity: 0.3
		.choice_champ
			display: flex
			justify-content: center
			padding: 40px 0
		.champions
			display: flex
			justify-content: center
			flex-wrap: wrap
			.champion
				width: 60px
				margin: 1px